<nav class="menu">
    <a class="menu__item" href="/">Home</a>
    <a class="menu__item" href="/breeds">Cat Breeds</a>
    <a class="menu__item" href="/breeds/kittens">Kittehs!</a>
    <a class="menu__item" href="/musicals">Musicals</a>
</nav>